.navbar {
    border: none;
    border-radius: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .navbar-nav {
        height: 50px;
        li a {
            height: 50px;
        }
    }
    a {
        color: #FFF;
        &:hover, &:active, &:focus {
            color: #FFF;
        }
    }
    .navbar-toggle {
        border: none;
        color: #FFF;
        .icon-bar {
            border: 1px solid #FFF;
        }
    }
}

@media (max-width: 767px) {
    body {
        padding-bottom: 50px;
    }
    .navbar {
        bottom: 0;
        margin-bottom: 0;
        top: auto;
        .navbar-nav {
            height: auto;
        }
        .navbar-toggle {
            float: left;
        }
        .navbar-brand {
            float: right;
        }
    }
    .navbar-collapse {
        display: block;
        max-height: 0;
        transition: max-height .5s ease;
        &.open {
            max-height: 250px;
        }
    }
}