<!--
    Looking for code you can read? Try my Github: https://github.com/brandongregory/brandongregorycreative.com
-->
<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Brandon Gregory | {{ page.title }}</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58814117-1"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-58814117-1');</script>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
<link rel="stylesheet" href="{{ page.pathToHome }}css/styles.css">
<link rel="icon" type="image/png" sizes="32x32" href="{{ page.pathToHome }}icons/bgc-32x32.png">
</head>
<body class="{{ page.class }}">
  <nav>
    <button type="button" class="navbar-toggle collapsed" v-on:click="toggleMenu" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="menu-bar"></span>
      <span class="menu-bar"></span>
    <span class="menu-bar"></span>
    </button>
    <a class="logo" href="{{ page.pathToHome }}index.html">Brandon Gregory <span class="hidden-xs hidden-sm">Creative</span></a>
    <ul class="nav">
      <li><a href="{{ page.pathToHome }}index.html"{% if page.pagename == "home" %} class="active"{% endif %}>Home</a></li>
      <li><a href="{{ page.pathToHome }}writing.html"{% if page.pagename == "writing" %} class="active"{% endif %}>Writing</a></li>
      <li><a href="{{ page.pathToHome }}dev.html"{% if page.pagename == "dev" %} class="active"{% endif %}>Dev</a></li>
      <li><a href="{{ page.pathToHome }}design.html"{% if page.pagename == "design" %} class="active"{% endif %}>Design</a></li>
      <li><a href="{{ page.pathToHome }}blog/"{% if page.pagename == "blog" %} class="active"{% endif %}>Blog</a></li>
    </ul>
  </nav>
  <main>
