<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Brandon Gregory | {{ page.title }}</title>
<link rel="stylesheet" href="/css/master.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/manifest.json">
<meta name="msapplication-TileColor" content="#e0f2f1">
<meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
<meta name="theme-color" content="#e0f2f1">
</head>
<body class="{{ page.class }}">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">Brandon Gregory <span class="hidden-xs hidden-sm">Creative</span></a>
            </div><!-- / .navbar-header -->
            <div class="navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li{% if page.pagename == "home" %} class="active"{% endif %}><a href="/index.html"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li{% if page.pagename == "writing" %} class="active"{% endif %}><a href="/writing.html"><i class="fas fa-pencil-alt"></i> Writing</a></li>
                    <li{% if page.pagename == "web" %} class="active"{% endif %}><a href="/web.html"><i class="fa fa-cog" aria-hidden="true"></i> Web</a></li>
                    <li{% if page.pagename == "about" %} class="active"{% endif %}><a href="/about.html"><i class="fa fa-user" aria-hidden="true"></i> About</a></li>
                    <li{% if page.pagename == "blog" %} class="active"{% endif %}><a href="/blog/"><i class="fa fa-book" aria-hidden="true"></i> Blog</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
