Redirect /index.php http://www.brandongregorycreative.com/index.html
Redirect /writing.php http://www.brandongregorycreative.com/writing.html
Redirect /web.php http://www.brandongregorycreative.com/web.html
Redirect /about.php http://www.brandongregorycreative.com/about.html