@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66667;
  color: #444;
  text-align: left;
  background-color: #FFF; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #C62828;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #B71C1C;
    text-decoration: inherit; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 1rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

article {
  margin: 1.5rem 0; }

section.short {
  min-height: 0; }

.blog-home article {
  padding: 1.5rem 0; }

.blog-home article + article {
  border-top: none;
  padding: 0 0 1.5rem 0; }

.page-number {
  padding: 0 1.5rem; }

.previous.disabled, .next.disabled {
  color: #999; }

.pagination {
  text-align: center; }

.bgs-btn {
  display: inline-block;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  width: 44px; }
  .bgs-btn:hover {
    color: #FFF !important;
    text-decoration: none; }

.bgs-btn-amazon:hover {
  background-color: #ff9900; }

.bgs-btn-codepen:hover {
  background-color: #000; }

.bgs-btn-email:hover {
  background-color: #C62828; }

.bgs-btn-facebook:hover {
  background-color: #3e5b98; }

.bgs-btn-github:hover {
  background-color: #4078c0; }

.bgs-btn-goodreads:hover {
  background-color: #553b08; }

.bgs-btn-instagram:hover {
  background-color: #d93175; }

.bgs-btn-itunes:hover {
  background-color: #ff5e51; }

.bgs-btn-linkedin:hover {
  background-color: #0077b5; }

.bgs-btn-medium:hover {
  background-color: #000; }

.bgs-btn-soundcloud:hover {
  background-color: #ff8800; }

.bgs-btn-twitter:hover {
  background-color: #4da7de; }

.bgs-btn-youtube:hover {
  background-color: #cd201f; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?zg1sw");
  src: url("../fonts/icomoon.eot?zg1sw#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?zg1sw") format("truetype"), url("../fonts/icomoon.woff?zg1sw") format("woff"), url("../fonts/icomoon.svg?zg1sw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="bg-"], [class*=" bg-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bg-user:before {
  content: "\f007"; }

.bg-cog:before {
  content: "\f013"; }

.bg-gear:before {
  content: "\f013"; }

.bg-book:before {
  content: "\f02d"; }

.bg-comment:before {
  content: "\f075"; }

.bg-envelope:before {
  content: "\f0e0"; }

.bg-newspaper:before {
  content: "\f1ea"; }

.bg-external-link:before {
  content: "\e904"; }

.bg-help-circle:before {
  content: "\e905"; }

.bg-menu:before {
  content: "\e906"; }

.bg-home:before {
  content: "\e907"; }

.bg-pencil:before {
  content: "\e908"; }

.bg-heart:before {
  content: "\e9da"; }

.bg-circle-right:before {
  content: "\ea42"; }

.bg-circle-down:before {
  content: "\ea43"; }

.bg-circle-left:before {
  content: "\ea44"; }

.bg-facebook:before {
  content: "\ea90"; }

.bg-instagram:before {
  content: "\ea92"; }

.bg-codepen:before {
  content: "\e909"; }

.bg-github:before {
  content: "\e90a"; }

.bg-linkedin:before {
  content: "\e900"; }

.bg-twitter:before {
  content: "\e901"; }

.bg-goodreads:before {
  content: "\e902"; }

.bg-medium:before {
  content: "\e903"; }

footer {
  margin: 30px 0;
  text-align: center; }

form label {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
  margin-top: 1rem; }

form input[type=text], form textarea {
  background: #FFF;
  border: 1px solid transparent;
  display: block;
  margin-bottom: .5rem;
  padding: .5rem;
  width: 100%; }
  form input[type=text]:focus, form textarea:focus {
    outline: none; }
  form input[type=text]:disabled, form textarea:disabled {
    opacity: .5; }

form textarea {
  min-height: calc(6em + 1rem); }

form .error {
  color: red;
  font-weight: bold; }

form .message {
  font-weight: bold;
  text-align: center; }

form button {
  border: none;
  color: #FFF;
  margin: 1rem 0;
  padding: .5rem 1rem; }
  form button:focus {
    outline: none; }

@media (min-width: 992px) {
  form label {
    float: left;
    margin-right: 1rem;
    text-align: right;
    width: 25%; }
  form input[type=text], form textarea {
    float: left;
    margin-top: .5rem;
    width: calc(75% - 1rem); }
    form input[type=text]:after, form textarea:after {
      clear: left;
      display: table; }
  form button {
    margin-left: calc(25% + 1rem); }
  form .error {
    margin: 0 0 0.5rem calc(25% + 1rem); } }

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1.5rem; }

footer {
  margin: 0 auto;
  max-width: 800px;
  padding: 1.5rem;
  text-align: center; }

@media (min-width: 768px) {
  body {
    padding-top: 4rem; } }

nav {
  background-color: rgba(240, 240, 240, 0.9);
  border-bottom: 1px solid #ccc;
  height: 54px;
  left: 0;
  padding: 0 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  nav .logo {
    float: left;
    font-size: 1.5rem;
    line-height: 54px; }
  nav ul.nav {
    float: right;
    height: 54px;
    margin: 0;
    padding: 0; }
    nav ul.nav li {
      float: left;
      list-style-type: none; }
      nav ul.nav li a {
        display: block;
        height: 54px;
        line-height: 54px;
        padding: 0 .75rem; }
        nav ul.nav li a:before {
          background: transparent;
          border: 1px solid #222;
          border-radius: 50%;
          content: "";
          display: inline-block;
          height: 8px;
          margin: 0 .5rem 2px 0;
          width: 8px; }
        nav ul.nav li a.active:before {
          background: #222; }
  nav a {
    color: #000;
    text-decoration: none; }
  nav .navbar-toggle {
    color: #000;
    display: none; }

@media (max-width: 767px) {
  body {
    padding-bottom: 54px; }
  nav {
    border-bottom: none;
    border-top: 1px solid #ccc;
    bottom: 0;
    margin-bottom: 0;
    top: auto; }
    nav ul.nav {
      background-color: rgba(240, 240, 240, 0.9);
      bottom: 54px;
      display: block;
      height: auto;
      left: 0;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      transition: max-height .5s ease;
      width: 100%; }
      nav ul.nav li {
        float: none; }
        nav ul.nav li a {
          width: 100%; }
      nav ul.nav.open {
        border-top: 1px solid #CCC;
        max-height: 300px; }
    nav .navbar-toggle {
      background: transparent;
      border: none;
      display: block;
      float: left;
      height: 44px;
      margin: 5px 0;
      width: 44px; }
      nav .navbar-toggle .menu-bar {
        background: #444;
        border-radius: 2px;
        display: block;
        height: 3px;
        margin: 5px;
        width: 34px; }
      nav .navbar-toggle:active, nav .navbar-toggle:focus {
        box-shadow: none;
        outline: none; }
    nav .logo {
      float: right; }
  .navbar-toggle {
    transform: translateX(6px);
    transition: all .5s ease; }
    .navbar-toggle .menu-bar {
      transition: all .5s ease; }
    .navbar-toggle .menu-bar:nth-of-type(2) {
      transform: rotate(45deg) translateY(11px); }
    .navbar-toggle .menu-bar:nth-of-type(3) {
      opacity: 0; }
    .navbar-toggle .menu-bar:nth-of-type(4) {
      transform: rotate(-45deg) translateY(-11px); }
    .navbar-toggle.collapsed {
      transform: translateX(0); }
      .navbar-toggle.collapsed .menu-bar:nth-of-type(2) {
        transform: rotate(0) translateY(0); }
      .navbar-toggle.collapsed .menu-bar:nth-of-type(3) {
        opacity: 1; }
      .navbar-toggle.collapsed .menu-bar:nth-of-type(4) {
        transform: rotate(0) translateY(0); } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 2rem 0 1.5rem 0;
  letter-spacing: .1em;
  text-align: center;
  text-transform: uppercase; }

h1 {
  color: #222;
  font-size: 1.7rem; }

h3 {
  font-size: 1.25rem; }

ul li {
  list-style-type: circle; }

dd {
  margin-bottom: 1rem; }

blockquote {
  border-left: 4px solid #999;
  padding: 1.5rem 0 .5rem 2rem;
  position: relative; }
  blockquote::before {
    background: #999;
    border-radius: 50%;
    color: #FFF;
    content: open-quote;
    display: inline-block;
    font-size: 4rem;
    height: 3rem;
    left: calc(-1.5rem - 2px);
    line-height: 3rem;
    overflow: hidden;
    padding-top: 1.4rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 3rem; }

.text-center {
  text-align: center; }

.small {
  font-size: 14px; }

.sr-only {
  display: none; }

.caps {
  font-weight: 700;
  text-transform: uppercase; }

.byline {
  font-size: 12px;
  font-style: italic;
  margin: 0 0 1.5rem 0;
  text-align: center; }

hr {
  border: none;
  border-top: medium double #444;
  color: #444;
  margin: 0 0 2rem 0;
  overflow: visible;
  padding: 0;
  text-align: center; }

hr:after {
  background: white;
  content: "ยง";
  display: inline-block;
  padding: 0 0.5em;
  position: relative;
  top: -.9em; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (max-width: 991px) {
  .hidden-sm {
    display: none; } }

@media (min-width: 768px) {
  h1 {
    font-size: 2.65rem; }
  .visible-xs {
    display: none; } }
