article {
    margin: 1.5rem 0;
}
section.short {
    min-height: 0;
}
.blog-home {
    article {
        padding: 1.5rem 0;
    }
    article + article {
        border-top: none;
        padding: 0 0 1.5rem 0;
    }
}
.page-number {
    padding: 0 1.5rem;
}

.previous.disabled, .next.disabled {
    color: #999;
}
.pagination {
    text-align: center;
}