article {
    margin: 30px 0;
}
section.short {
    min-height: 0;
}
.blog-home {
    article {
        border-bottom: 1px solid #8BC34A;
        border-top: 1px solid #8BC34A;
        padding: 30px 0;
    }
    article + article {
        border-top: none;
        padding: 0 0 30px 0;
    }
}
.page-number {
    padding: 0 30px;
}

.previous.disabled, .next.disabled {
    color: #999;
}
.pagination {
    text-align: center;
}