$blue-light:        #E1F5FE;
$blue-highlight:    #03A9F4;
$blue-dark:         #01579B;
$brown-light:       #EFEBE9;
$brown-highlight:   #795548;
$brown-dark:        #3E2723;
$green-light:       #F1F8E9;
$green-highlight:   #8BC34A;
$green-dark:        #33691E;
$indigo-light:      #E8EAF6;
$indigo-highlight:  #3F51B5;
$indigo-dark:       #1A237E;
$orange-light:      #FFF3E0;
$orange-highlight:  #FF9800;
$orange-dark:       #E65100;
$pink-light:        #FCE4EC;
$pink-highlight:    #E91E63;
$pink-dark:         #880E4F;
$red-light:         #FFEBEE;
$red-highlight:     #F44336;
$red-dark:          #B71C1C;
$teal-light:        #E0F2F1;
$teal-highlight:    #009688;
$teal-dark:         #004D40;

.blue {
    background: $blue-light;
    .navbar, .nav {
        background: $blue-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $blue-light;
            color: $blue-dark;
        }
    }
    section, footer {
        color: $blue-dark;
        a {
            color: $blue-highlight;
            &:hover, &:active, &:focus {
                color: darken($blue-highlight, 5%);
            }
        }
        .scroll-down {
            color: $blue-highlight;
        }
    }
}
.brown {
    background: $brown-light;
    .navbar, .nav {
        background: $brown-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $brown-light;
            color: $brown-dark;
        }
    }
    section, footer {
        color: $brown-dark;
        a {
            color: $brown-highlight;
            &:hover, &:active, &:focus {
                color: darken($brown-highlight, 5%);
            }
        }
        .scroll-down {
            color: $brown-highlight;
        }
    }
}
.indigo {
    background: $indigo-light;
    .navbar, .nav {
        background: $indigo-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $indigo-light;
            color: $indigo-dark;
        }
    }
    section, footer {
        color: $indigo-dark;
        a {
            color: $indigo-highlight;
            &:hover, &:active, &:focus {
                color: darken($indigo-highlight, 5%);
            }
        }
        .scroll-down {
            color: $indigo-highlight;
        }
    }
}
.orange {
    background: $orange-light;
    .navbar, .nav {
        background: $orange-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $orange-light;
            color: $orange-dark;
        }
    }
    section, footer {
        color: $orange-dark;
        a {
            color: $orange-highlight;
            &:hover, &:active, &:focus {
                color: darken($orange-highlight, 5%);
            }
        }
        .scroll-down {
            color: $orange-highlight;
        }
    }
}
.teal {
    background: $teal-light;
    .navbar, .nav {
        background: $teal-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $teal-light;
            color: $teal-dark;
        }
    }
    section, footer {
        color: $teal-dark;
        a {
            color: $teal-highlight;
            &:hover, &:active, &:focus {
                color: darken($teal-highlight, 5%);
            }
        }
        .scroll-down {
            color: $teal-highlight;
        }
    }
}
.green {
    background: $green-light;
    .navbar, .nav {
        background: $green-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $green-light;
            color: $green-dark;
        }
    }
    section, footer {
        color: $green-dark;
        a {
            color: $green-highlight;
            &:hover, &:active, &:focus {
                color: darken($green-highlight, 5%);
            }
        }
        .scroll-down {
            color: $green-highlight;
        }
    }
}
.red {
    background: $red-light;
    .navbar, .nav {
        background: $red-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $red-light;
            color: $red-dark;
        }
    }
    section, footer {
        color: $red-dark;
        a {
            color: $red-highlight;
            &:hover, &:active, &:focus {
                color: darken($red-highlight, 5%);
            }
        }
        .scroll-down {
            color: $red-highlight;
        }
    }
}
.pink {
    background: $pink-light;
    .navbar, .nav {
        background: $pink-dark;
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
            background: $pink-light;
            color: $pink-dark;
        }
    }
    section, footer {
        color: $pink-dark;
        a {
            color: $pink-highlight;
            &:hover, &:active, &:focus {
                color: darken($pink-highlight, 5%);
            }
        }
        .scroll-down {
            color: $pink-highlight;
        }
    }
}