@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?zg1sw');
    src:  url('../fonts/icomoon.eot?zg1sw#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?zg1sw') format('truetype'),
      url('../fonts/icomoon.woff?zg1sw') format('woff'),
      url('../fonts/icomoon.svg?zg1sw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="bg-"], [class*=" bg-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .bg-user:before {
    content: "\f007";
  }
  .bg-cog:before {
    content: "\f013";
  }
  .bg-gear:before {
    content: "\f013";
  }
  .bg-book:before {
    content: "\f02d";
  }
  .bg-comment:before {
    content: "\f075";
  }
  .bg-envelope:before {
    content: "\f0e0";
  }
  .bg-newspaper:before {
    content: "\f1ea";
  }
  .bg-external-link:before {
    content: "\e904";
  }
  .bg-help-circle:before {
    content: "\e905";
  }
  .bg-menu:before {
    content: "\e906";
  }
  .bg-home:before {
    content: "\e907";
  }
  .bg-pencil:before {
    content: "\e908";
  }
  .bg-heart:before {
    content: "\e9da";
  }
  .bg-circle-right:before {
    content: "\ea42";
  }
  .bg-circle-down:before {
    content: "\ea43";
  }
  .bg-circle-left:before {
    content: "\ea44";
  }
  .bg-facebook:before {
    content: "\ea90";
  }
  .bg-instagram:before {
    content: "\ea92";
  }
  .bg-codepen:before {
    content: "\e909";
  }
  .bg-github:before {
    content: "\e90a";
  }
  .bg-linkedin:before {
    content: "\e900";
  }
  .bg-twitter:before {
    content: "\e901";
  }
  .bg-goodreads:before {
    content: "\e902";
  }
  .bg-medium:before {
    content: "\e903";
  }  