nav {
    background-color: rgba(240,240,240,.9);
    border-bottom: 1px solid #ccc;
    height: 54px;
    left: 0;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    .logo {
        float: left;
        font-size: 1.5rem;
        line-height: 54px;
    }
    ul.nav {
        float: right;
        height: 54px;
        margin: 0;
        padding: 0;
        li {
            float: left;
            list-style-type: none;
            a {
                display: block;
                height: 54px;
                line-height: 54px;
                padding: 0 .75rem;
                &:before {
                    background: transparent;
                    border: 1px solid #222;
                    border-radius: 50%;
                    content: "";
                    display: inline-block;
                    height: 8px;
                    margin: 0 .5rem 2px 0;
                    width: 8px;
                }
                &.active:before {
                    background: #222;
                }
            }
        }
    }
    a {
        color: #000;
        text-decoration: none;
    }
    .navbar-toggle {
        color: #000;
        display: none;
    }
}
    
@media (max-width: 767px) {
    body {
        padding-bottom: 54px;
    }
    nav {
        border-bottom: none;
        border-top: 1px solid #ccc;
        bottom: 0;
        margin-bottom: 0;
        top: auto;
        ul.nav {
            background-color: rgba(240,240,240,.9);
            bottom: 54px;
            display: block;
            height: auto;
            left: 0;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            transition: max-height .5s ease;
            width: 100%;
            li {
                float: none;
                a {
                    width: 100%;
                }
            }
            &.open {
                border-top: 1px solid #CCC;
                max-height: 300px;
            }
        }
        .navbar-toggle {
            background: transparent;
            border: none;
            display: block;
            float: left;
            height: 44px;
            margin: 5px 0;
            width: 44px;
            .menu-bar {
                background: #444;
                border-radius: 2px;
                display: block;
                height: 3px;
                margin: 5px;
                width: 34px;
            }
            &:active, &:focus {
                box-shadow: none;
                outline: none;
            }
        }
        .logo {
            float: right;
        }
    }
    .navbar-toggle {
        transform: translateX(6px);
        transition: all .5s ease;
        .menu-bar {
            transition: all .5s ease;
        }
        .menu-bar:nth-of-type(2) {
            transform: rotate(45deg) translateY(11px);
        }
        .menu-bar:nth-of-type(3) {
            opacity: 0;
        }
        .menu-bar:nth-of-type(4) {
            transform: rotate(-45deg) translateY(-11px);
        }
        &.collapsed {
            transform: translateX(0);
            .menu-bar:nth-of-type(2) {
                transform: rotate(0) translateY(0);
            }
            .menu-bar:nth-of-type(3) {
                opacity: 1;
            }
            .menu-bar:nth-of-type(4) {
                transform: rotate(0) translateY(0);
            }
        }
    }
}