html,body {
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
section {
    position: relative;
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
    &.short {
        display: block;
    }
}
@media (min-width: $screen-sm-min) {
    section {
        padding-top: 65px;
    }
}
@media (min-width: $screen-md-min) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100%;
    }
}