h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 2rem 0 1.5rem 0;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
}
h1 {
    color: #222;
    font-size: 1.7rem;
}
h3 {
    font-size: 1.25rem;
}
ul {
    li {
        list-style-type: circle;
    }
}
dd {
    margin-bottom: 1rem;
}
blockquote {
    border-left: 4px solid #999;
    padding: 1.5rem 0 .5rem 2rem;
    position: relative;
    
    &::before {
        background: #999;
        border-radius: 50%;
        color: #FFF;
        content: open-quote;
        display: inline-block;
        font-size: 4rem;
        height: 3rem;
        left: calc(-1.5rem - 2px);
        line-height: 3rem;
        overflow: hidden;
        padding-top: 1.4rem;
        position: absolute;
        text-align: center;
        top: 0;
        width: 3rem;
    }
}
.text-center {
    text-align: center;
}
.small {
    font-size: 14px;
}
.sr-only {
    left: 100000px;
    position: absolute;
    top: 0;
}
.caps {
    font-weight: 700;
    text-transform: uppercase;
}
.byline {
    font-size: 12px;
    font-style: italic;
    margin: 0 0 1.5rem 0;
    text-align: center;
}
hr {
    border: none;
    border-top: medium double #444;
    color: #444;
    margin: 0 0 2rem 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}
hr:after {
    background: white;
    content: "§";
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
top: -.9em;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}
@media (max-width: 991px) {
    .hidden-sm {
        display: none;
    }
}

@media (min-width: $screen-sm-min) {
    h1 {
        font-size: 2.65rem;
    }
    .visible-xs {
        display: none;
    }
}
@media (min-width: $screen-lg-min) {
}
@media (min-width: 1600px) {
}