// For _reboot.scss
$font-family-base: "Libre Baskerville", serif;
$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 1.666666;
$body-color: #444;
$body-bg: #FFF;
$headings-margin-bottom: 1.5rem;
$paragraph-margin-bottom: 1rem;
$dt-font-weight: 700;
$link-color: #C62828;
$link-decoration: underline;
$link-hover-color: #B71C1C;
$link-hover-decoration: inherit;
$table-cell-padding: .5rem;
$text-muted: rgba(255,255,255,.8);
$label-margin-bottom: 1rem;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$dm-bg: #333A44;
$dm-text: #FFF5E5;
$dm-link: #B08A66;
$dm-nav: rgba(34,36,42,.9);