// For _reboot.scss
$font-family-base: "Montserrat", sans-serif;
$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 1.5;
$body-color: #333;
$body-bg: #FFF;
$headings-margin-bottom: 1rem;
$paragraph-margin-bottom: 1rem;
$dt-font-weight: 700;
$link-color: #0000FF;
$link-decoration: underline;
$link-hover-color: #0000FF;
$link-hover-decoration: inherit;
$table-cell-padding: .5rem;
$text-muted: rgba(255,255,255,.8);
$label-margin-bottom: 1rem;

$font-script: "Pacifico", cursive;
$font-sans-serif: "Montserrat", sans-serif;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;